@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=PT+Serif&display=swap');

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 16pt;
  color: #b1dfd7;
  line-height: 1.6;
  background-color:  rgba(12, 8, 5, 0.8)
}

/*NAVIGATION BAR AND LOGO*/
#menu {
  font-family: 'Bitter', serif;
  font-size: 110%;
  letter-spacing: 4px;
  height: fit-content;
  line-height: 50px;
}

header > h2 {
  float:left;
  padding-left: 20px;
  line-height: 50px;
}

#menu li {
  display:inline;
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #b1dfd7;
  padding: 0 5px 0 5px;
}

#menu a:hover {
  background-color:rgba(19, 163, 132, 0.2);
  border-radius: 5px;
}

#menu .active {
  text-decoration: underline; 
}

/*Main image*/
#main-image-outer {
  height: fit-content;
  width:100%;
  overflow:hidden;
  font-family: 'PT Serif', serif;
}

#main-image {
  height: 650px;
  width: 100%;
  background: url('../images/oil_hand.jpg') no-repeat center center;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-size: cover;
  color: #b1dfd7;
  
}
#logo {
  width:fit-content;
  top: 70px;
  left: 30px;
  position: relative;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2) ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-size: 150%;
}

#info-text {
  width:fit-content;
  border-left:#005B4B 4px solid;
  top: 100px;
  left: 30px;
  position: relative;
  padding: 10px 5px 10px 15px; 
}

#location{
  width:fit-content;
  border-left:#005B4B 4px solid;
  top: 100px;
  left:30px;
  position: relative;
  padding: 10px 15px 10px 15px;
  
}
/*1º text section: "Our mission / Our Studio*/
#sectionmission {
  height: fit-content;
  overflow: auto;
  clear:both;
  background: linear-gradient(to bottom,#252526, #076856);
  padding-bottom: 100px;
  padding-top: 100px;
}

#mission {
  width: 50%;
  float:left;
}

#studio {
  width: 50%;
  float: right;
}

.mission-studio {
  width: 70%;
  clear: both;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}

/*Our road to health section // 3 squares */
#sectionsquares {
  padding: 100px 0 100px 0;
  height: fit-content;
  overflow: auto;
  clear:both;
  background: linear-gradient(to bottom,#252526, #076856);
}

#squaresheader {
  margin:0 auto;
  width: fit-content;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#manual-therapy {
  width: 33.333333%;
  height: fit-content;
  float: left;
}

#movement {
  width: 33.333333%;
  height: fit-content;  
  float:left;
}

#nutrition {
  width: 33.333333%;
  height: fit-content;
  float:right;
}

#manualimage {
  background: url('../images/foot_massage.jpg') center center no-repeat;
  background-color: transparent;
  margin: 0 auto;
  width: 90%;
  height:500px;
  border-radius: 5px;
  color: transparent;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-size: cover;
  filter: grayscale(30%);
}

#movementimage {
  background: url('../images/acroyoga.jpg') center center no-repeat;
  width: 90%;
  margin: 0 auto;
  height:500px;
  color: transparent;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-size: cover;
  filter: grayscale(30%);
  border-radius: 5px;
}

#nutritionimage {
  background: url('../images/breakfast.jpg')center center no-repeat;
  width: 90%;
  height:500px;
  margin: 0 auto;
  color: transparent;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-size: cover;
  filter: grayscale(30%);
  border-radius: 5px;
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: transparent;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}
/*animation*/
#manualimage:hover,
#movementimage:hover,
#nutritionimage:hover {
  background: #201f1f;
  transition:all 0.5s ease-in;
}

.content:hover {
  color: #b1dfd7;
 transition:all 0.5s ease-in; 
}

/*Section Practitioner*/
#sectionpractitioner {
  height: fit-content;
  overflow: auto;
  clear:both;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(to bottom,#252526, #076856);
}

#image-container {
  width:30%;
  float:left;
  padding-left: 20px;
}

#me {
  left:30px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-size: cover;
  border-radius: 5px;
}

#text-ruben {
  width: 65%;
  float:right;
  text-align: center;
  bottom:50%; 
}

 /*Footer*/
footer {
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  background-color: #252526;
}

.social {
  text-align: center;
  padding-top: 80px;
  text-decoration:none;
}

.social > ul > li {
  display: inline;
  padding: 10%; 
}

.social i {
  font-size: 200%;
  color:#b1dfd7;
}

.book-footer {
  width: 100%;
  height: 70px;
  clear:both;
  padding-top: 70px;
}

.book-now {
  width:130px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  background-color: #076856;
}

.book-now a {
  text-decoration:none;
  color: #b1dfd7;
}

/* SECOND PAGE: Services*/
 /*Services*/
#therapies {
  height: fit-content;
  overflow: auto;
  clear:both;
  width: 100%;
  background: linear-gradient(to bottom,#252526, #076856);
  padding: 100px 0 100px 0;  
}

/*Left section: Text*/
#therapies > h2 {
  clear:both;
  width:fit-content;
  margin:0 auto;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#left {
  float:left;  
  width: 50%;
}

#right {
    float:right;  
    width: 50%;  
}

#hamstringstretch {
  background: url("../images/hamstrings.jpg") center center no-repeat;
  width: 90%;
  height:500px;
  margin: 0 auto;
  color: transparent;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-size: cover;
  filter: grayscale(30%);
  border-radius: 5px;
 }

hr{
  border-top: 1px solid #b1dfd7;
  width: 100%;
}

.leftinside h3,
.rightinside h3 {
    font-size: 16pt;
}

.leftinside  p,
.rightinside p {
    font-size: 12pt;
}

.leftinside {
  float:left;  
  width: 50%;
  clear:both;  
  padding: 10px 0 10px 15px;
}

.rightinside {
  float:right;  
  width: 50%;
  clear:both;
  padding: 10px 15px 10px 0; 
}

/*Schedule section*/
#schedule {
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  background: linear-gradient(to bottom,#252526, #076856);
  padding: 100px 0 100px 0;
}

#schedule > h2 {
  clear:both;
  width:fit-content;
  margin:0 auto;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#containerschedule1 {
  width: 50%;
  height: fit-content;
  float:left;
}

#containerschedule2 {
  width: 50%;
  height: fit-content;
  float:right;
}

#day {
  width:80%;
  margin:  0 auto;
  background: #b1dfd7;;
  padding-top: 40px;
  border-radius: 5px;
  height: fit-content;
  overflow: auto;
  padding:  20px 0 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.daysquare {
  width:90%;
  height: fit-content;
  background-color:#649B92;
  margin:0 auto;
  border-radius: 5px;
  padding:  20px 0 20px 0;
  text-align: center;
  color:  #252526;;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.individualsection {
  width:100%;
  color: #252526;
}

.hours {
  padding-top: 30px ;
  width:40%;
  text-align: center;
  float:left;
  clear:both;
}

.hours > h3 {
  background-color: rgba(19, 163, 132, 0.2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.session {
  padding-top: 30px ;
  width:55%;
  text-align: center;
  float:right;
}

/*third page: Booking*/
#form_section {
  background: linear-gradient(to bottom,#252526, #076856);
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  font-weight: 800;
  padding: 100px 0 100px 0;
 }

 #form_section > h2 {
  clear:both;
  width:fit-content;
  margin:0 auto;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
 #form_container {
  height: fit-content;
  overflow: auto;
  width: 60%;
  margin: 0 auto;
  clear: both;
  background-color:#b1dfd7;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }

 .labelleft {
  float:left;
  clear:both;
  display: inline-block;
  width: 25%;
  text-align: right;
  padding-top: 20px;
  color:#252526;
 }

 .inputright {
  float:right;
  width:65%;
  padding-top: 20px;
  color:#252526; 
 }
 
 .inputright > input {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
  float:right;
  background-color:#649B92;
  width:90%;
  padding: 10px 0 10px 0;
 }

.inputright > span > i {
  width:10%;
  float:left;
}
 
#explanation {
  padding: 10px 0 10px 0;
  float:right;
  background-color:#649B92;
  border-radius: 10px;
  width:90%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#sendbutton {
  clear:both;
  float:right;
  background-color:#252526;
  color: #b1dfd7;
  border-radius: 10px;
  font-size: 15pt;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*map section*/
#map {
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  background: linear-gradient(to bottom,#252526, #076856);
  padding: 100px 0 100px 0;
}

#map > h2 {
  clear:both;
  width:fit-content;
  margin:0 auto;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*MEDIA screens*/
@media screen and (max-width:1200px){


  /*Index page*/
  #sectionmission {
    font-size: 80%;
  }

  #sectionpractitioner {
    font-size: 80%;
  }

  /* SECOND PAGE: Services*/
/* Schedule*/
#schedule {
  font-size: 70%;
}

/*Booking page*/
#form_container {
  width:80%;
}

}
 
@media screen and (max-width:700px){

 /*HEADER*/
#menu {
  font-size: 90%;
  float: left;
  clear:both;
  line-height: 20px;
}
#menu > li{
  clear:both;
  float:left;
}

header > h2{
 font-size: 90%;
 padding: 0 0 0 10px;
 clear:both;
}

/*HOME PAGE*/
/*Main image*/
#main-image {
  height: 500px;
}

#logo {
  font-size: 70%;
  top:50px;
}

#info-text,
#location {
  font-size: 70%;
  top:70px;
}

/*1º text section: "Our mission / Our Studio*/
#sectionmission {
  font-size:60%;
  padding-bottom: 100px;
  padding-top: 100px;
}

#mission {
  width: 100%;
}

#studio {
  width: 100%;
  padding-top: 30px;
}

.mission-studio {
  width: 90%;
}

/*Square section*/
#manual-therapy {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  clear:both;
}

#movement {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  clear:both;
}

#nutrition {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  clear:both;
}


/*Section Practitioner*/

#image-container {
  width:100%;
  display:flex;
  align-items: center;
  padding:0;
}

#me {
  height: 300px;
  width: auto;
  margin: 0 auto;  
}

#text-ruben {
  padding-top:30px;
  width:100%;
  text-align: center;
}

/*footer*/
.social i {
  font-size: 130%;
}

/*Page 2, Services*/
/*Techniques*/
#left { 
  width: 100%;
}

#right {
  width: 100%;  
}

.leftinside h3,
.rightinside h3 {
  font-size: 60%
}

.leftinside  p,
.rightinside p {
  font-size: 60%
}

#therapies >h2 {
  font-size: 80%
}

/*Schedule*/
#schedule {
  font-size: 60%;
}

#containerschedule1 {
  width: 100%;
}

#containerschedule2 {
  width: 100%;
  margin-top:50px;
}

/*Page 3, Booking*/
.labelleft {
font-size: 10pt;
}

}

@media screen and (max-width:400px) {

#menu {
  font-size: 40%;
}

/*HOME PAGE*/ 
/*Main image*/
#logo,
#info-text, 
#location {
    font-size: 50%;
}

/*Practitioner text*/
#text-ruben {
  font-size: 60%;
}

/*Booking form*/
.inputright > input {
  width:80%;
}

.inputright > span > i {
  width:5%;
}
 
#explanation{
  width:80%;
}

}