@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Cormorant+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 16pt;
  color: #3a3a3a;
  line-height: 1.6;
}

/*NAVIGATION BAR AND LOGO*/

header{
  background-color: #ffffff;
}
nav{
  height:100px;
}

header a{
  text-decoration: none;
}
#menu {
  font-family: 'Cormorant SC';
  font-size: 110%;
  letter-spacing: 4px;
}

#logo {
  float: left;
  font-size: 280%;
  font-family: 'Cormorant SC', serif;
  padding-left: 15px;;
  color: inherit;
}

#menu, #logo {
  line-height: 75px;
}

#menu li {
  display:inline;
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  background-color: #3a3a3a;
  color:#ffffff;
}

.active {
  border-bottom: 1px solid #3a3a3a;
  
}
/*Main image*/
#main-image-outer{
  height:550px;
  width:100%;
  overflow:hidden;
  position: relative;
}

#main-image{
  height: 550px;
  width: 100%;
  background: url('../images/meditation-mountain.jpg') no-repeat center center;

}

/*1º text section: "Our mission / Our Studio*/

#sectionmission{
  height: 300px;
  clear:both;
  
}
#mission{
  width: 50%;
  padding-top: 100px;
  float:left;
}

#studio{
  width: 50%;
  padding-top: 100px;
  float: right;
  margin: 0 auto;
}

.mission-studio{
  width: 70%;
  clear: both;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}

/*Our road to health section // 3 circles */

#sectioncircles{
  padding-top: 200px;
  height:500px;
  clear:both;
}
#circlesheader{
  text-align: center;
}
#manual-therapy {
  padding-top: 50px;
  width: 33%;
  float: left;
}

#movement {
  padding-top: 50px;
  width: 33%;
  float: right;
  margin: 0 auto;
}

#nutrition {
  padding-top: 50px;
  width: 33%;
  float: right;
}

.circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 50%;
  margin: 0 auto;
}
/*Section Practitioner*/

#sectionpractitioner{
  height: 300px;
  clear:both;
  padding-top: 200px;
  padding-bottom: 200px;
}

#me{
  height: 300px;
  width: auto;
  margin: 0 auto;
}


#image-container{
  width:30%;
  float:left;
  display:flex;
  align-items: center;
}


#text-ruben{
  width:60%;
  float:right;
}

 /*Footer*/
footer{
  height: 300px;
  width: 100%;
  clear: both;
  background-color: #3a3a3a;
}
 .social{
  text-align: center;
  padding-top: 80px;
  text-decoration:none;
}

.social > ul > li {
  display: inline;
  padding: 10%;
  
}

.social  i{
  font-size: 200%;
  color:#ffffff;

}

.book-footer{
  width: 100%;
  height: 70px;
  clear:both;
  padding-top: 70px;
}

#book-now{
  width:130px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(218, 86, 34, 0.925);
}

#book-now a{
  text-decoration:none;
  color: #ffffff;
}
/* SECOND PAGE: Services*/
 
.osteopathy-therapies{
  height:700 px;
  clear:both;
 }
 
 .osteopathy-therapies h1{
  padding-top: 100px;
  text-align: center;
 
 }
.alignleft{
  padding-top: 50px;
  width: 33%;
  float: left;
 
}
 
.alignright{
  padding-top: 50px;
  width: 33%;
  float: right;
}
 
.aligncenter{
  padding-top: 50px;
  width: 33%;
  float:right;
  margin: 0 auto;
}
 
.text-center{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
 

/*MEDIA screens*/
@media screen and (max-width:1000px){
/*Our road to health section // 3 circles */

#sectioncircles{
  height:1000px;
  clear:both;
}
#circlesheader{
  text-align: center;
}
#manual-therapy {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}

#movement {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}

#nutrition {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}

.circle-container {
  width: 150px;
  height: 150px;
}
}

@media screen and (max-width:700px){

 /*HEADER*/

 #logo {
  font-size: 180%;
}
 #menu{
  clear:both;
  float:left;
  margin-left:10px;
  margin-bottom: 20px;
  font-size: 90%;
  letter-spacing: 1px;
}
 
  /*HOME PAGE*/

  /*1º text section: "Our mission / Our Studio*/

#sectionmission{
  height: 400px;
  
}
#mission{
  width: 100%;
  padding-top: 100px;
  
}
#studio{
  width: 100%;
  padding-top: 30px;
  
}




/*Section Practitioner*/

#sectionpractitioner{
  height: 300px;
  clear:both;
}

#me{
  height: 300px;
  width: auto;
  margin: 0 auto;
}


#image-container{
  width:100%;
  display:flex;
  align-items: center;
}


#text-ruben{
  padding-top:30px;
  width:100%;
  text-align: center;
}

/*footer*/

.social  i{
  font-size: 130%;
  color:#ffffff;

}





}