@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=PT+Serif&display=swap');

a{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 16pt;
  color: #3a3a3a;
  line-height: 1.6;
  background-color:  rgba(12, 8, 5, 0.8)
}

/*NAVIGATION BAR AND LOGO*/


#menu {
  font-family: 'Bitter', serif;
  font-size: 110%;
  letter-spacing: 4px;
 
  height: fit-content;

}



#menu {
  line-height: 50px;
}

#menu li {
  display:inline;
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #b1dfd7;
  padding: 0 5px 0 5px;
}

#menu a:hover {
  background-color: rgba(19, 163, 132, 0.2);
  border-radius: 5px;
}

.active {
  background-color: #3a3a3a;
  color:#ffffff;
  
}
/*Main image*/
#main-image-outer{
  height: fit-content;
  width:100%;
  overflow:hidden;
  font-family: 'PT Serif', serif;
}

#main-image{
  height: 650px;
  width: 100%;
  background: url('../images/oil_hand.jpg') no-repeat center center;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-size: cover;
  color: #b1dfd7;
  
}
#logo {
  width:fit-content;
  top: 50px;
  left: 30px;
  position: relative;
  padding: 20px 20px 20px 20px;
  background-color: rgba(19, 163, 132, 0.2) ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-size: 150%;
}


#info-text{
  width:fit-content;
  border-left:#005B4B 4px solid;
  border-bottom:#005B4B 4px solid;
  top: 70px;
  left: 30px;
  position: relative;
  padding: 10px 5px 10px 15px;
  
  
}
#location{
  width:fit-content;
  border-left:#005B4B 4px solid;
  border-bottom:#005B4B 4px solid;
  top: 70px;
  left:30px;
  position: relative;
  padding: 10px 15px 10px 15px;
  
}
/*1º text section: "Our mission / Our Studio*/

#sectionmission{
  height: fit-content;
  overflow: auto;
  clear:both;
  /*background-color: #FFE9C4;*/
  background: linear-gradient(to bottom, #FFE9C4, #ffffff);
  padding-bottom: 200px;
  padding-top: 200px;
}

#mission{
  width: 50%;
  float:left;

}

#studio{
  width: 50%;
  float: right;
  margin: 0 auto;
}

.mission-studio{
  width: 70%;
  clear: both;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}

/*Our road to health section // 3 circles */

#sectioncircles{
  padding-top: 200px;
  height: fit-content;
  overflow: auto;
  clear:both;
  background-color: #F0DBB9;
  padding-bottom: 200px;
}

#circlesheader{
  text-align: center;
  margin-bottom: 50px;
}

#manual-therapy {
  
  width: 33.333333%;
  height: fit-content;
  float: left;
  background-color:transparent;
}


#movement {
  
  width: 33.333333%;
  height: fit-content;  
  float:left;
}

#nutrition {
  
  width: 33.333333%;
  height: fit-content;
  float:right;


}

#manualimage{
  background: url('../images/HumanHealingLogo.png') center center no-repeat;
  background-color: transparent;
  margin: 0 auto;
  width: 90%;
  height:500px;
  border-radius: 16px;
  color: transparent;
  box-shadow: 0 5px 50px rgba(240, 5, 5, 0.85);
}

#movementimage{
  background: url('../images/HumanHealingLogo.png') center center no-repeat;
  width: 90%;
  margin: 0 auto;
  height:500px;
  border-radius: 16px;
  color: transparent;
  box-shadow: 0 5px 50px rgba(240, 5, 5, 0.85);
}

#nutritionimage{
  background: url('../images/HumanHealingLogo.png')center center no-repeat;
  width: 90%;
  height:500px;
  margin: 0 auto;
  border-radius: 16px;
  color: transparent;
  box-shadow: 0 5px 50px rgba(240, 5, 5, 0.85);
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: transparent;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}
/*animation*/
#manualimage:hover,#movementimage:hover, #nutritionimage:hover {
 
  color:#ffffff;
  background: #3a3a3a;
  transition:all 0.5s ease-in;
}

.content:hover {
 color:#ffffff;
 transition:all 0.5s ease-in; 
}










/*Section Practitioner*/

#sectionpractitioner{
  height: fit-content;
  overflow: auto;
  clear:both;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #D6C4A5;
}

#me{
  height: 500px;
  width: auto;
  margin: 0 auto;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#image-container{
  width:30%;
  float:left;
  display:flex;
  align-items: center;
}


#text-ruben{
  width:60%;
  float:right;
}

 /*Footer*/
footer{
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  background-color: #3a3a3a;
}
 .social{
  text-align: center;
  padding-top: 80px;
  text-decoration:none;
}

.social > ul > li {
  display: inline;
  padding: 10%;
  
}

.social  i{
  font-size: 200%;
  color:#ffffff;

}

.book-footer{
  width: 100%;
  height: 70px;
  clear:both;
  padding-top: 70px;
}

#book-now{
  width:130px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(218, 86, 34, 0.925);
}

#book-now a{
  text-decoration:none;
  color: #ffffff;
}
/* SECOND PAGE: Services*/
 /*Services*/
#osteopathy-therapies{
  height: fit-content;
  overflow: auto;
  clear:both;
  width: 100%;
  background: linear-gradient(to bottom, blue, #ffffff);
  padding-bottom: 200px;
  padding-top: 200px; 
  
}

/*Left section: Text*/

#left{
  float:left;  
  width: 50%;
  padding-left: 20px;

}
#right{
    float:right;  
    width: 50%;
    
  }

  hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.leftinside h2, .rightinside h2{
    font-size: 16pt;
}
.leftinside  p, .rightinside p{
    font-size: 12pt;
}
.leftinside{
    float:left;  
    width: 50%;
    clear:both;  
    padding-top: 10px;  
    padding-bottom: 10px; 
}

.rightinside{
    float:right;  
    width: 50%;
    clear:both;
    padding-top: 10px;  
    padding-bottom: 10px; 
}

#left div:hover{
    background-color: #bbb1b1;
    color: #ffffff;
    border-radius: 10px;
    transition:all 0.3s ease-in;
}


/*Schedule section*/

#schedule{
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  background-color: red;
  padding-top: 100px;
}

#containerschedule1{
  width: 50%;
  height: fit-content;
  float:left;
  overflow: auto;
}

#containerschedule2{
  width: 50%;
  height: fit-content;
  float:right;
}

#dayA{
  width:80%;
  margin:  0 auto;
  background: gold;
  padding-top: 40px;
  border-radius: 10px;
  height: fit-content;
  overflow: auto;
}

#dayB{
  width:80%;
  margin: 0 auto;
  background: goldenrod;
  border-radius: 10px;

}
.daysquare{
  width:70%;
  height: fit-content;
  background-color: #F0DBB9;
  margin:0 auto;
  border-radius: 10px;
  padding-top: 20px;
  text-align: center;

}
.individualsection{
  width:100%;
}
.hours{
  padding-top: 15px ;
  width:50%;
  text-align: center;
  float:left;
  clear:both;

}

.hours > h3{
  background-color: #bbb1b1;
  border-radius: 10px;
}
.session{
  padding-top: 15px ;
  width:50%;
  text-align: center;
  float:right;
}
/*third page: Booking*/

#form_section{
  background-image: linear-gradient(#BB944D, #FFEDCB);
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  padding-top: 100px;
  padding-bottom: 100px;
 }
 #form_container{
  height: fit-content;
  overflow: auto;
  width: 50%;
  margin: 0 auto;
  clear: both;
  background-color:#b1dfd7;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }

 .labelleft{
  float:left;
  clear:both;
  display: inline-block;
  width: 25%;
  text-align: right;
  padding-top: 20px;
 }
 .inputright{
  float:right;
  width:65%;
  padding-top: 20px;
 
 }
 .inputright > input{
  
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  float:right;
  background-color:#649B92;
  width:90%;
  padding: 10px 0 10px 0;
 }

.inputright > span > i{

  width:5%;
  float:left;
  

}
 
#explanation{
  padding: 10px 0 10px 0;
  float:right;
  background-color:#649B92;
  border-radius: 10px;
  width:90%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#sendbutton{
  clear:both;
  float:right;
  background-color:#4F4537;
  color:#649B92;
  border-radius: 10px;
  font-size: 15pt;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*map section*/
#map{
  height: fit-content;
  overflow: auto;
  width: 100%;
  clear: both;
  background-image: linear-gradient(#DFE0DF, #FFE9C4);
  padding: 100px 0 100px 0;
}

#map > h2{
  clear:both;
  width:fit-content;
  margin:0 auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #005B4B;
  color: #FFE9C4;
}

/*MEDIA screens*/
@media screen and (max-width:1200px){
/*Main image */

#logo, #info-text, #location{
  font-size: 90%;
  
}


/* SECOND PAGE: Services*/

.alignleft{
  padding-top: 50px;
  width: 100%;
 
}
 
.alignright{
  padding-top: 50px;
  width: 100%;

}
 
.aligncenter{
  padding-top: 50px;
  width: 100%;

}
 
.text-center{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

}
 
@media screen and (max-width:700px){

 /*HEADER*/
 #menu{
  clear:both;
  float:left;
  margin-left:10px;
  margin-bottom: 20px;
  font-size: 90%;
  letter-spacing: 1px;
}
 

  /*HOME PAGE*/

/*Main image*/
#main-image{
  height: 500px;
}
#logo, #info-text, #location{
  font-size: 50%;
  left:15px;
}

  /*1º text section: "Our mission / Our Studio*/

#sectionmission{
  font-size:10pt;
  padding-bottom: 100px;
  padding-top: 100px;
}
#mission{
  width: 100%;
}
#studio{
  width: 100%;
  padding-top: 30px;
  
}
.mission-studio{
  width: 90%;
}

/*Square section*/

#manual-therapy {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  clear:both;
}

#movement {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  clear:both;
}

#nutrition {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  clear:both;
}


/*Section Practitioner*/

#me{
  height: 300px;
  width: auto;
  margin: 0 auto;
}


#image-container{
  width:100%;
  display:flex;
  align-items: center;
}


#text-ruben{
  padding-top:30px;
  width:100%;
  text-align: center;
}

/*footer*/

.social  i{
  font-size: 130%;
  color:#ffffff;

}

/*Page 3, Booking*/

#form_container{
  width:80%;
}

.labelleft{
  font-size: 10pt;
}
}

